.order{
    margin-top:7.8947vw;
    margin-bottom:5.2631vw;
    margin-left:2.1052vw;
}
.order .orderTap{
    margin-bottom:1.5789vw;
}
.order .orderTap ul{
    padding:0;
}
.order .orderTap li{
    float:left;
    margin-right:0.5263vw;
    padding:0;
}
.order .orderTap li a{
    display:block;
    border:1px solid #000;
    padding:0.5263vw 1.0526vw;
}
.order .orderTapSubmenu1 > div > p{
    margin:2.6315vw 0;
}